<div id="content">
    <div class="top-container">
        <div>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis, rerum? Nostrum perspiciatis ut
                odio
                doloremque earum cum molestias? Quos veritatis temporibus alias corrupti consequatur ex nihil velit,
                tempore
                inventore vitae.Aut dolorum blanditiis incidunt id distinctio aliquid unde ab voluptas cum ea animi,
                necessitatibus eos at facilis tempore nisi officia dicta nemo non sint quibusdam fugit officiis.
                Quibusdam,
                nam asperiores.</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus nihil velit earum ipsam natus
                corrupti
                nam libero deleniti pariatur architecto. Iste, quos maxime vero ducimus odio libero consequuntur
                delectus
                natus.</p>
        </div>
    </div>
    <!--8.0-->
    <div><img [src]="datosPag.imgPag" [alt]="datosPag.imgPag">
        <p>{{datosPag.infoPag}}</p>
    </div>
    <!--8.3-->
    <div id="chat">
        <div id="box">
            <span>{{chat.data}}</span>
        </div>
        <div id="send">
            <textarea [NgModel]="chat.data"></textarea>
        </div>
    </div>
    <div>3</div>
    <div>4</div>




</div>
<div id="content">
    <div class="wrapper">
        <div class="top-container">
            <div class="uno">
                <h1>Productos</h1>
                <p>Bienvenidos a la tienda de ropa y accesorios para el día a día</p>
                <a href="#"></a>
            </div>
            <div class="dos">
                <h1>100%</h1>
                <p>Nuestros productos son 100% de nuestro país, como los hilos, telas, tinturas y manofactura, ven y
                    disfruta de la calidad de mnuestros productos hoy mismo, coin descuentos especiales en prendas
                    selecionadas..</p>
                <a href="#"></a>
            </div>
        </div>


    </div>


</div>